<ion-header>

  </ion-header>
  
  
  <ion-content class="bg-gradient" padding>
    <ion-icon (click)="back()" class="icon-back" name="md-arrow-back"></ion-icon>

    <ion-list>
      <img src="assets/imgs/logo.png" style="width: 50px" class="img-center" alt="">
      <h5 class="fonts-tyle clr-white" text-center>Login Booking</h5>
      <br>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" [(ngModel)]="akun.email"></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="akun.password"></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <button ion-button round full color="secondary" (click)="login()" >Login</button>
    <br>
    <button ion-button round full color="light" (click)="daftar()" >Daftar</button>
    
  </ion-content>