page-login {
    .bg-gradient{
        background: linear-gradient(to top left, #723aa7, #5d2a8c);
    }
    .item-md .label-md[floating] {
        color: #fff;
    }
    .item-md .item-inner {
        border-bottom: 1px solid #fff!important;
    }
    .text-input-md {
        color: #fff;
    }
    .foto-bordered{
        border: 1px dashed #fff;
    }
    .item-md {
        color: #fff;
        background-color: transparent;
    }
}