<ion-header>

  <ion-navbar color="primary">
    <ion-row>
      <ion-col col-6>
        <ion-title>Rating</ion-title>
      </ion-col>
      <ion-col col-6>
        <button [disabled]="sending" ion-button small color="secondary" float-end (click)="simpan()">Simpan</button>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content>
  <ng-container *ngIf="jasaItem">
    <img src="{{ apiUrl }}/public/images/jasa/gambar/{{ jasaItem.gambar }}" alt="">
    <h6 style="margin: 0px" text-center>{{ jasaItem.nama_jasa }}</h6>
    <p text-center style="font-size: 20px;">

      <span (click)="setRaiting(1)">
        <ion-icon *ngIf="ulasan.rating >= 1" name="star" color="primary"></ion-icon>
        <ion-icon *ngIf="ulasan.rating < 1" name="star-outline" color="primary"></ion-icon>
      </span>

      <span (click)="setRaiting(2)">
        <ion-icon *ngIf="ulasan.rating >= 2" name="star" color="primary"></ion-icon>
        <ion-icon *ngIf="ulasan.rating < 2" name="star-outline" color="primary"></ion-icon>
      </span>

      <span (click)="setRaiting(3)">
        <ion-icon *ngIf="ulasan.rating >= 3" name="star" color="primary"></ion-icon>
        <ion-icon *ngIf="ulasan.rating < 3" name="star-outline" color="primary"></ion-icon>
      </span>

      <span (click)="setRaiting(4)">
        <ion-icon *ngIf="ulasan.rating >= 4" name="star" color="primary"></ion-icon>
        <ion-icon *ngIf="ulasan.rating < 4" name="star-outline" color="primary"></ion-icon>
      </span>

      <span (click)="setRaiting(5)">
        <ion-icon *ngIf="ulasan.rating >= 5" name="star" color="primary"></ion-icon>
        <ion-icon *ngIf="ulasan.rating < 5" name="star-outline" color="primary"></ion-icon>
      </span>

    </p>
    <div padding>

      <ion-textarea placeholder="Masukkan ulasan" rows="3" [(ngModel)]="ulasan.komentar"></ion-textarea>
    </div>
  </ng-container>
</ion-content>