<ion-tabs selectedIndex="{{ index }}">
  <ion-tab [root]="homePage" tabIcon="ios-home-outline" tabTitle="Beranda"></ion-tab>
  <ion-tab [root]="transaksiPage" tabIcon="ios-cash-outline" tabTitle="Transaksi"></ion-tab>
  <ion-tab [root]="profilPage" tabIcon="ios-person-outline" tabTitle="Akun"></ion-tab>
  <ion-tab [root]="jasaPage" tabIcon="ios-cube-outline" tabTitle="Jasa"></ion-tab>
</ion-tabs>
