<ion-content class="">
  <ng-container *ngIf="loading">
    <ion-spinner name="circles"></ion-spinner>
  </ng-container>
  <ng-container *ngIf="!loading && jasaItem">
    <ion-icon (click)="back()" class="icon-back" name="md-arrow-back"></ion-icon>
    <img src="{{ apiUrl }}/public/images/jasa/gambar/{{ jasaItem.gambar }}" alt="">
    <div class="justify-center">
      <h5><b>{{ jasaItem.nama_jasa }}</b></h5>
      <ion-note style="font-size: 10px;">
        <ion-icon name="ios-call"> {{ jasaItem.member?.telepon }}</ion-icon>, 
        <ion-icon name="ios-map-outline"> {{ jasaItem.member?.alamat }}</ion-icon>
      </ion-note>
      <p (click)="ulasan( jasaItem.id_jasa, jasaItem.nama_jasa)">
        <ng-container *ngFor="let item of [1,2,3,4,5]">
          <ng-container *ngIf="jasaItem.rating >= item ">
              <ion-icon name="star" color="primary"></ion-icon>
          </ng-container>
          <ng-container *ngIf="jasaItem.rating == (item + 0.5)">
              <ion-icon name="star-half" color="primary"></ion-icon>
          </ng-container>
          <ng-container *ngIf="jasaItem.rating <  (item - 0.5)">
              <ion-icon name="star-outline" color="primary"></ion-icon>
          </ng-container>
        </ng-container>
        / {{ jasaItem.raiter}} ulasan <ion-icon name="ios-arrow-forward"></ion-icon>
      </p>
      <span class="clr-secondary">Rp {{ helper.ribuan(jasaItem.harga_jasa) }}</span>
    </div>
    <h5 class="justify-center clr-primary" (click)="lihatToko(jasaItem.pejasa?.id_pejasa)">
      {{ jasaItem.pejasa?.nama_toko }}</h5>
    <p padding class="justify-center text-deskripsi">{{ jasaItem.deskripsi_jasa }} </p>
    <br>
    <br>
    <br>


  </ng-container>
</ion-content>
<div class="fixed-bottom" *ngIf="!isMe">
  <ion-row>
    <ion-col col-6>
      <div class="panel-aksi" (click)="tanya(jasaItem.member?.id_member, jasaItem.member?.nama, jasaItem.member?.foto)">
        <ion-icon name="ios-chatboxes-outline">
        </ion-icon>
      </div>
    </ion-col>

    <ion-col col-6>
      <div class="panel-aksi" (click)="addToCart()">
        <ion-icon name="ios-cart-outline">
        </ion-icon>
      </div>
    </ion-col>
  </ion-row>
</div>