page-order {
    .fixed-bottom{
        color: #fff;
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 999999;
        .panel-aksi{
            text-align: center;
            margin: 15px;
            font-size: 2rem;
        }
    }
}
