<ion-header>
  <ion-navbar color="primary">
    <ion-title>Profil</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logout()">
        <ion-icon item-right name="md-exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" spinnner="lines">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="!loading">
    <ion-card>
      <ion-card-header>
        Akun Pengguna
      </ion-card-header>
      <ion-card-content>

        <img class="img-profil img-center" *ngIf="!akun.foto" src="{{ apiUrl }}/public/images/foto/{{ akun.img }}"
          (click)="ambilPustaka('foto')">
        <img class="img-profil img-center" *ngIf="akun.foto" [src]="akun.foto" (click)="ambilPustaka('foto')">

        <ion-list>

          <ion-item>
            <ion-label floating>Nama</ion-label>
            <ion-input type="text" [(ngModel)]="akun.nama"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" [(ngModel)]="akun.email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Telepon</ion-label>
            <ion-input type="text" [(ngModel)]="akun.telepon"></ion-input>
          </ion-item>

          <ion-item hidden></ion-item>
          <br>
          <button ion-button color="secondary" float-end (click)="simpan()">Simpan</button>
          <br>
          <br>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="id_pejasa">
      <ion-card-header>
        Profil Toko
      </ion-card-header>
      <ion-card-content>
        <img class="img-profil img-center" *ngIf="!toko.logo" src="{{ apiUrl }}/public/images/logo/{{ toko.img }}"
          (click)="ambilPustaka('logo')">
        <img class="img-profil img-center" *ngIf="toko.logo" [src]="toko.foto" (click)="ambilPustaka('logo')">
        <ion-list>
          <ion-item>
            <ion-label floating>Nama Toko</ion-label>
            <ion-input type="text" [(ngModel)]="toko.nama_toko"></ion-input>
          </ion-item>

          <br>
          <button ion-button color="secondary" float-end (click)="simpanToko()">Simpan</button>
          <br>
          <br>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
    <ion-card>
      <ion-card-header>
        Reset Password
      </ion-card-header>
      <ion-card-content class="login-panel">
        <ion-list>
          <ion-item>
            <ion-label floating>Password Lama</ion-label>
            <ion-input type="password" [(ngModel)]="password.password_lama"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Password Baru</ion-label>
            <ion-input type="password" [(ngModel)]="password.password_baru"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label floating>Konfirmasi Password</ion-label>
            <ion-input type="password" [(ngModel)]="password.password_konfirmasi"></ion-input>
          </ion-item>

        </ion-list>
        <br>
        <button ion-button block outline color="primary" (click)="resetPassword()">Reset Password</button>
        <br>
      </ion-card-content>
    </ion-card>


  </ng-container>
</ion-content>