<ion-header>
  <ion-navbar color="primary">
    <ion-title>

      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <div *ngIf="!open">
              Transaksi
            </div>
            <div *ngIf="open">
              <ion-searchbar placeholder="cari nama jasa" [(ngModel)]="cari" [showCancelButton]="shouldShowCancel"
                (search)="searchByKeyword()" (ionClear)="onCancelSearch()">
              </ion-searchbar>
            </div>
          </ion-col>
          <ion-col col-2>
            <div float-right>
              <ion-icon *ngIf="!open" (click)="showSearch()" name="md-search" class="header-action"></ion-icon>
              <ion-icon *ngIf="open" (click)="showSearch()" name="md-close" class="header-action header-close">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ng-container *ngIf="!id_member">
    <br><br><br>
    <img src="assets/imgs/empty_data.png" class="img-center" alt="">
    <br><br>
    <button ion-button class="img-center" (click)="bukaJasa()" outline color="primary">Login</button>
  </ng-container>

  <ng-container *ngIf="id_member">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" spinnner="lines">
      <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
    </ion-refresher>

    <ion-spinner *ngIf="loading" color="light" name="circles"></ion-spinner>

    <ion-list *ngFor="let item of dataList">
      <ion-item (click)="detail(item.id_transaksi, item.member?.id_member)">
        <ion-avatar item-start>
          <img src="{{ apiUrl }}/public/images/jasa/gambar/{{ item.jasa?.gambar }}" alt="">
        </ion-avatar>
        <p>
          <ion-badge *ngIf="item.member?.id_member == id_member" color="primary">Pembelian</ion-badge>
          <ion-badge *ngIf="item.member?.id_member != id_member" color="secondary">Penjualan</ion-badge>
          <strong>{{ item.jasa.nama_jasa }}</strong>
        </p>
        <p>
          {{ helper.bulanTanggal( item.tanggal_transaksi ) }}
          <ion-badge *ngIf="item.status == 'proses'" color="light">proses</ion-badge>
          <ion-badge *ngIf="item.status == 'ditolak'" color="danger">Ditolak</ion-badge>
          <ion-badge *ngIf="item.status == 'diterima'" color="primary">Diterima</ion-badge>
          <ion-badge *ngIf="item.status == 'selesai'" color="green">Selesai</ion-badge>
        </p>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

</ion-content>