page-cari {
    h4{
        font-size: 11px !important;
    }
    .searchbar-md .searchbar-input {
        padding: 2px 52px;
        border-radius: 2px;
        font-size: 12px;
        font-weight: 300;
        line-height: 3rem;
    }
    .searchbar-md .searchbar-search-icon {
        left: 10px;
        top: 7px;
    }
    .header-action{
        margin-top: 7px;
    }
    .jasa{
        .grid{
            padding-left: 0px;
            padding-right: 0px;
        }
        [col-6] {
            padding: 5px!important;
        }
        .harga-barang{
            margin-top: 10px;
        }
        img{
            height: 140px;
        }
    }
    ion-card{
        border-radius: 10px !important;
    }
    .card-content-md {
        padding: 0px 16px;
    }
}
