<ion-header>
  <ion-navbar color="primary">
    <ion-title>

      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <div>
              <ion-searchbar #searchbar [(ngModel)]="cari" [showCancelButton]="shouldShowCancel"
                (search)="searchByKeyword($event)">
              </ion-searchbar>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="barang">

  <img *ngIf="empty_data" class="img-center" style="width: 180px; height: auto; margin-top: 50%"
    src="assets/imgs/logo/empty_data.png" alt="">
  <ion-grid *ngIf="!empty_data">

    <ion-row>
      <ion-col col-6 *ngFor="let data of JasaList" (click)="order(data.id_jasa)">
        <ion-card class="card-jasa" (click)="order(data.id_jasa)">
          <img src="{{ apiUrl }}/public/images/jasa/gambar/{{ data.gambar }}" alt="">
          <ion-card-content>
            <ion-note style="font-size: 10px;">
              <ion-icon name="ios-call"> {{ data.member?.telepon }}</ion-icon>
              <br>
              <ion-icon name="ios-map-outline"> {{ data.member?.alamat }}</ion-icon>
            </ion-note>
            <h2><b>{{ data.nama_jasa }}</b></h2>
            <p>
              <ng-container *ngFor="let item of [1,2,3,4,5]">
                <ng-container *ngIf="data.rating >= item ">
                  <ion-icon name="star" color="primary"></ion-icon>
                </ng-container>
                <ng-container *ngIf="data.rating == (item + 0.5)">
                  <ion-icon name="star-half" color="primary"></ion-icon>
                </ng-container>
                <ng-container *ngIf="data.rating <  (item - 0.5)">
                  <ion-icon name="star-outline" color="primary"></ion-icon>
                </ng-container>
              </ng-container>
              / {{ data.raiter}}
            </p>
            <span class="clr-secondary">Rp {{ helper.ribuan(data.harga_jasa) }}</span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>


  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>