<ion-header>

  <ion-navbar color="primary">
    <ion-title>chat</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" spinnner="lines">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ng-container *ngFor="let item of pesanList">
      <ion-item *ngIf="id_member == item.id_pengirim"
        (click)="room(item.id_penerima, item.nama_penerima, item.foto_penerima)">
        <ion-avatar item-start>
          <img src="{{ apiUrl }}/public/images/foto/{{ item.foto_penerima }}">
        </ion-avatar>
        <h2>{{ item.nama_penerima }} <ion-note float-end style="font-size: 10px">{{ item.waktu }}</ion-note>
        </h2>
        <p>{{ item.isi_chat }}</p>
      </ion-item>
      <ion-item *ngIf="id_member == item.id_penerima"
        (click)="room(item.id_pengirim, item.nama_pengirim, item.foto_pengirim)">
        <ion-avatar item-start>
          <img src="{{ apiUrl }}/public/images/foto/{{ item.foto_pengirim }}">
        </ion-avatar>
        <h2>{{ item.nama_pengirim }} <ion-note float-end style="font-size: 10px">{{ item.waktu }}</ion-note>
        </h2>
        <p>{{ item.isi_chat }}</p>
      </ion-item>
    </ng-container>
  </ion-list>
</ion-content>