page-filter {
    h4{
        font-size: 11px !important;
    }
    .searchbar-md .searchbar-input {
        padding: 2px 52px;
        border-radius: 2px;
        font-size: 12px;
        font-weight: 300;
        line-height: 3rem;
    }
    .searchbar-md .searchbar-search-icon {
        left: 10px;
        top: 7px;
    }
    .header-action{
        margin-top: 7px;
    }
    .barang{
        .grid{
            padding-left: 0px;
            padding-right: 0px;
        }
        [col-6] {
            padding: 5px!important;
        }
        .harga-barang{
            margin-top: 10px;
        }
        img{
            height: 140px;
        }
    }
    ion-card{
        border-radius: 10px !important;
    }
    .card-content-md {
        padding: 0px 16px;
    }
    .inner{
        width: max-content;
        height: 100%;
        .sub-slide{
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            text-align: center;
            color: #fff;
            display: table-cell;
            height: 40px;
            padding: 10px 25px;
            background-color: #37a647;
            border-radius: 20px;
            
        }
        .sub-color-primary{
            background-color: #f79c13;
        }
    }
}
