<ion-header>

  <ion-navbar color="primary">
    <ion-title class="font-style" >Tentang</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="justify-center">
  versi alikasi 1.0.0
</ion-content>
