<ion-header>

</ion-header>


<ion-content class="bg-gradient" padding>
  <ion-icon (click)="back()" class="icon-back" name="md-arrow-back"></ion-icon>
  <ion-list>
    <img src="assets/imgs/logo.png" style="width: 50px" class="img-center" alt="">
    <h5 class="fonts-tyle clr-white" text-center>Daftar Usaha</h5>

    <ion-row>
      <ion-col col-4>
        <div *ngIf="!toko.ktp" class="foto-bordered" (click)="ambilGambar('ktp')">
          <p>
            <ion-icon style="font-size: 20px" name="images" color="white"></ion-icon>
          </p>
          <p text-center style="font-size:12px; margin-top: -15px; color: #fff">KTP</p>
        </div>
        <img *ngIf="toko.ktp" [src]="toko.ktp" alt="" (click)="ambilGambar('ktp')">
      </ion-col>
      <ion-col col-4>
      </ion-col>
      <ion-col col-4>
        <div *ngIf="!toko.logo" class="foto-bordered" (click)="ambilGambar('logo')">
          <p>
            <ion-icon style="font-size: 20px" name="images" color="white"></ion-icon>
          </p>
          <p text-center style="font-size:12px; margin-top: -15px; color: #fff">Logo</p>
        </div>
        <img *ngIf="toko.logo" [src]="toko.logo" alt="" (click)="ambilGambar('logo')">
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label floating>Nama Usaha</ion-label>
      <ion-input type="text" [(ngModel)]="toko.nama_toko"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Kategori Jasa</ion-label>
      <ion-select [(ngModel)]="toko.id_kategori_jasa">
        <ion-option *ngFor="let item of kategoriList" value="{{ item.id_kategori_jasa }}">
          {{ item.nama_kategori_jasa }}</ion-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Saya mengisi data dengan benar</ion-label>
      <ion-checkbox [(ngModel)]="toko.accept" checked="isChecked" ></ion-checkbox>
    </ion-item>
  </ion-list>
  
    <button ion-button [disabled]="!toko.accept" round full color="secondary" (click)="daftar()" >Daftar</button>
  
  </ion-content>