<!-- header -->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>

      <ion-grid>
        <ion-row>
          <ion-col col-8>
            <div>
              <ion-searchbar (click)="search()" [(ngModel)]="cari" [showCancelButton]="shouldShowCancel"
                (search)="searchByKeyword($event)">
              </ion-searchbar>
            </div>
          </ion-col>
          <ion-col col-2>
            <div float-right>
              <div class="keranjang" (click)="chat()">
                <ion-icon name="ios-chatboxes-outline" class="header-action"></ion-icon>
              </div>
            </div>
          </ion-col>
          <ion-col col-2>
            <div float-right>
              <div class="keranjang" (click)="keranjang()">
                <span *ngIf="jumlahKeranjang" class="label-keranjang">{{ jumlahKeranjang }}</span>
                <ion-icon name="ios-construct-outline" class="header-action"></ion-icon>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <!-- refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="bg-danger" *ngIf="status == '0'">
    <ion-card-content>
      <ion-icon name="alert"></ion-icon>
      Verifikasi dulu emailmu !
    </ion-card-content>
  </ion-card>
  <!-- slider banner -->
  <ion-grid class="slide">
    <ion-row>
      <ion-col col-12>
        <ion-slides loop="true" pager="true" speed="500" autoplay="5000">
          <ion-slide>
            <img src="assets/imgs/banner/1.png" alt="">
          </ion-slide>
          <ion-slide>
            <img src="assets/imgs/banner/2.png" alt="">
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- loader -->
  <ng-container *ngIf="loading">
    <ion-spinner name="bubbles"></ion-spinner>
  </ng-container>
  <!-- content -->
  <ng-container *ngIf="!loading">
    <!-- kategori jasa -->
    <ion-scroll scrollX="true" style="margin-top:5px; width: 100%; height: 80px;">
      <div class="inner">
        <div class="sub-slide" *ngFor="let item of KategoriJasa" (click)="filter(item.id_kategori_jasa, item.nama_kategori_jasa)">
          <img src="{{ apiUrl }}/public/images/kategori_jasa/{{ item.gambar_kategori_jasa }}" alt="">
          <br>
          <span>{{ item.nama_kategori_jasa }}</span>
        </div>
      </div>
    </ion-scroll>
    <!-- jasa -->
    <ion-row>
      <ng-container *ngFor="let data of jasa">
        <ion-col col-6>
          <ion-card class="card-jasa" (click)="order(data.id_jasa)">
            <img src="{{ apiUrl }}/public/images/jasa/gambar/{{ data.gambar }}" alt="">
            <ion-card-content>
                <ion-note style="font-size: 10px;">
                  <ion-icon name="ios-call"> {{ data.member?.telepon }}</ion-icon>
                  <br>
                  <ion-icon name="ios-map-outline"> {{ data.member?.alamat }}</ion-icon>
                </ion-note>
                <h2><b>{{ data.nama_jasa }}</b></h2>
                <p>
                  <ng-container *ngFor="let item of [1,2,3,4,5]">
                    <ng-container *ngIf="data.rating >= item ">
                        <ion-icon name="star" color="primary"></ion-icon>
                    </ng-container>
                    <ng-container *ngIf="data.rating == (item + 0.5)">
                        <ion-icon name="star-half" color="primary"></ion-icon>
                    </ng-container>
                    <ng-container *ngIf="data.rating <  (item - 0.5)">
                        <ion-icon name="star-outline" color="primary"></ion-icon>
                    </ng-container>
                  </ng-container>
                  / {{ data.raiter}}
                </p>
                <span class="clr-secondary">Rp {{ helper.ribuan(data.harga_jasa) }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ng-container>
</ion-content>