page-home {
    .barang{
        .grid{
            padding-left: 0px;
            padding-right: 0px;
        }
        [col-6] {
            padding: 5px!important;
        }
        .harga-barang{
            margin-top: 10px;
        }
        img{
            height: 140px;
        }
    }
    .inner{
        width: max-content;
        height: 100%;
        .sub-slide{
            text-align: center;
            display: table-cell;
            padding: 0px 15px;
            font-size: 11px;
            text-transform: capitalize;
            img{
                width: 50px;
            }
        }
    }
    .card-jasa{
        border-radius: 10px;
        img{
            height: 140px;
            width: 100%;
        }
    }
    .slide{
        padding: 0px;
    }
    .label-keranjang{
        background-color: #ec008c;
        padding-top: 5px;
        width: 25px;
        height: 25px;
        position: absolute;
        color: #fff;
        border-radius: 50%;
        font-size: 11px;
        right: 15px;
        text-align: center;
        top: 0px;
    }
    .keranjang{
        margin-top: 10px
    }
}
