<ion-header>

  <ion-navbar color="primary">
    <ion-row>
      <ion-col col-6>
        <ion-title>{{ title }} Jasa</ion-title>
      </ion-col>
      <ion-col col-6>
        <button [disabled]="sending" ion-button small color="secondary" float-end (click)="simpan()">Simpan</button>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ng-container *ngIf="loading">
    <ion-spinner name="circles"></ion-spinner>
  </ng-container>

  <ng-container *ngIf="!loading">
    <ion-label>Gambar Jasa</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col col-3> </ion-col>
        <ion-col col-6>
          <!-- mode tambah -->
          <ng-container *ngIf="title == 'Tambah'">
            <div *ngIf="!jasa.gambar" class="foto-bordered" (click)="ambilPustaka()" >
              <ion-icon name="images" style="font-size: 20px;" color="light"></ion-icon>
              <p text-center  color="light" style="font-size:12px">Gambar Jasa</p>
            </div>
          </ng-container>
          <!-- mode edit -->
          <ng-container *ngIf="title != 'Tambah'">
              <img *ngIf="!jasa.gambar" src="{{ apiUrl }}/public/images/jasa/gambar/{{ jasa.gambar_edit }}"
              onerror="this.src='assets/imgs/empty_data.png'" (click)="ambilPustaka()">
          </ng-container>
          <img *ngIf="jasa.gambar" [src]="jasa.gambar" alt="" (click)="ambilPustaka()">
        </ion-col>
        <ion-col col-3> </ion-col>
      </ion-row>
    </ion-grid>

    <ion-list>
      <ion-item>
        <ion-label floating>Nama Jasa</ion-label>
        <ion-input type="text" [(ngModel)]="jasa.nama_jasa"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Sub Kategori</ion-label>
        <ion-select [(ngModel)]="jasa.id_sub_kategori_jasa">
          <ion-option *ngFor="let item of subKategoriList" value="{{ item.id_sub_kategori_jasa }}">
            {{ item.nama_sub_kategori_jasa }}</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-label floating>Biaya Jasa (Rp)</ion-label>
        <ion-input type="tel" number-format [(ngModel)]="jasa.harga_jasa"></ion-input>
      </ion-item>

      <ion-label>Deskripsi</ion-label>
      <ion-textarea placeholder="Masukkan deskripsi" rows="5" [(ngModel)]="jasa.deskripsi_jasa"></ion-textarea>

    </ion-list>
  </ng-container>

</ion-content>