<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <ion-item>
        <ion-avatar item-start>
          <img src="{{ apiUrl }}/public/images/foto/{{ foto }}">
        </ion-avatar>
        <h2>{{ nama }}</h2>
      </ion-item>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="chat-room" id="messagesContent">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" spinnner="lines">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>
  <ion-list *ngFor="let item of pesanList">
    <ion-item *ngIf="id_member == item.id_penerima">
      <ion-avatar item-start>
        <img src="{{ apiUrl }}/public/images/foto/{{ foto }}">
      </ion-avatar>
      <ion-label class="bg-you">
        <p text-left>{{ item.isi_chat }}</p>
        <ion-note *ngIf="tanggal != item.tanggal">{{ helper.bulanTanggal(item.tanggal) }}</ion-note>
        <ion-note *ngIf="tanggal == item.tanggal">{{ helper.jam(item.jam) }}</ion-note>
        <ion-icon *ngIf="item.status == '0'" ios="ios-checkmark" md="md-checkmark"></ion-icon>
        <ion-icon *ngIf="item.status == '1'" color="primary" ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </ion-label>
    </ion-item>
    <ion-item *ngIf="id_member == item.id_pengirim">
      <ion-avatar item-end>
        <img src="{{ apiUrl }}/public/images/foto/{{ item.foto_pengirim }}">
      </ion-avatar>
      <ion-label class="bg-me">
        <p text-left>{{ item.isi_chat }}</p>
        <ion-note *ngIf="tanggal != item.tanggal">{{ helper.bulanTanggal(item.tanggal) }}</ion-note>
        <ion-note *ngIf="tanggal == item.tanggal">{{ helper.jam(item.jam) }}</ion-note>
        <ion-icon *ngIf="item.status == '0'" ios="ios-checkmark" md="md-checkmark"></ion-icon>
        <ion-icon *ngIf="item.status == '1'" color="primary" ios="ios-checkmark" md="md-checkmark"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>
  <br>
  <br>
  <br>
</ion-content>

<div class="panel-bot-fixed">
  <ion-row>
    <ion-col col-10>
      <ion-textarea [(ngModel)]="chat.isi_chat"></ion-textarea>
    </ion-col>
    <ion-col col-2>
      <button ion-button round [disabled]="loading" (click)="kirim()" color="primary">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
</div>