page-chat-kirim {
    ion-content{
        background-image: url('../assets/imgs/chat-bg.jpg');
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: transparent!important;
    }
    .item-md p {
        white-space: normal;
    }
    .bg-me{
        background-color: #dcf8c6;
        border-top-right-radius: 0px !important;
    }
    .bg-you{
        background-color: #fff;
        border-top-left-radius: 0px !important;
    }
    .chat-room{
        .list-md{
            margin: 0px;
        }
        .label-md {
            margin: 10px 0px 10px 0px;
            padding: 10px;
            border-radius: 15px;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px -2px rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
        }
        .item-md {
            background-color: transparent;
            .item-inner {
                border-bottom: none !important;
            }
             ion-avatar img {
                position: absolute;
                top: 13px;
            }
        }
    }
    .title{
        .item-md {
            background-color: transparent;
            color: #fff;
        }
        .item-md .item-inner {
            border-bottom: none !important;
        }
        h2{
            font-size: 2rem;
        }
    }
    .panel-bot-fixed{
        position: fixed;
        width: 100%;
        background-color: transparent;
        padding: 0px 5px;
        bottom: 0px;
        z-index: 99999;
    }
    ion-textarea {
        border: 1px solid #eee;
        background-color: #fff;
        border-radius: 640px;
        padding: 0px 10px;
    }
    .button-round-md {
        border-radius: 64px;
        padding: 25px 16px;
        font-size: 2rem;
    }
}
