page-keranjang {
    .harga-barang{
        color: #ec008c;
        margin-top: 10px;
    }
    .hapus-keranjang{
        font-size: 20px;
    }
    img {
        width: 50px;
        height: 50px;
    }
}
