<ion-header>

  <ion-navbar color="primary">
    <ion-title>Pesanan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-card *ngFor="let data of keranjangList ; let i = index">
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-3>
            <img src="{{ apiUrl }}/public/images/jasa/gambar/{{ data.gambar }}" alt="">
          </ion-col>
          <ion-col col-8>
            <div>
              <h4 class="text-mutted">{{ data.nama_jasa }}</h4>
            </div>
          </ion-col>
          <ion-col col-1>
            <div class="hapus-keranjang">
              <ion-icon name="ios-trash" item-end color="primary" (click)="KonfirmasiHapus(i)"></ion-icon>
            </div>
          </ion-col>
          <ion-col col-12>
            <hr>
            <button ion-button small outline padding float-end color="primary" (click)="post(i)">Booking</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>