<!-- <ion-nav [root]="rootPage"></ion-nav> -->
<ion-menu [content]="content" class="slide-tranparant">
    <!-- <ion-header>
      <ion-toolbar color="dark" class="font-style">
        Menu
      </ion-toolbar>
    </ion-header> -->
    
  <ion-content style="text-align: center; ">
      <br>
      <ion-label class="foto-slide">
        <!-- <img src="assets/imgs/logo.png" onerror="this.src='assets/imgs/logo.png'" class="slide-img-profil"> -->
      </ion-label>
      
      <ion-label color="primary">
        <h5>{{ nama }}</h5>
      </ion-label>

      <br>
      <ion-list class="font-style slide-list">
        <button ion-item (click)="openDevPage()"><ion-icon name="settings"></ion-icon> Pengaturan</button>
      </ion-list>
      <br>
      <br>
      <br>
      <br>
    </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage"></ion-nav>
