@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap);
.font-style{
    font-family: 'Cormorant Infant', serif;
}
.toolbar-title-md {
}
.canvas-top{
    width: 100%;
    height: 300px;
    background: linear-gradient(to top left, #723aa7, #5d2a8c);
    .logo{
        text-align: center;
        font-family: "Niconne";
        color: #fff;
        h1{
          font-size: 4.0rem;
        }
    }
  }
.fixed-content{
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: #fff;
    filter: alpha(opacity=0);
}
.item-input .label-md, .item-select .label-md, .item-datetime .label-md {
    font-size: 11px;
}
.item-select {
    padding-top: 10px;
    background-color: transparent;
    color: #fff;
}
.img-center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.content-center{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.col{
    padding: 0px;
}
.card-md {
    margin: 3px;
    width: calc(100% - 10px);
}
.clr-primary{
    color:  #5d2a8c !important;
}
.clr-danger{
    color:  #ff232b !important;
}
.clr-secondary{
    color:  #f45d2d !important;
}
.clr-white{
    color:  #fff !important;
}
.bg-primary{
    background-color: #5d2a8c;
    color: #fff !important;
}
.bg-danger{
    color: #fff;
    background-color: #ec0047;
}
.bg-secondary{
    background-color: #5d2a8c;
    color: #fff;
}
.bg-grey{
    background-color: #eee;
}
.logo-desa {
    width: 41px;
}
.tanggal-berita{
    font-size: 1.2rem;
}
.divider{
    width: 100%;
    border-bottom: 1px solid #fff;
}
.item-md {
    .item-inner{
        border-bottom: 1px solid #dedede !important;
    }
    padding-left: 0px;
    .label-md[floating] {
        font-size: 11px;
    }
}
 .button-full.button-outline {
    border-right-width: 1px;
    border-left-width: 1px;
}
ion-input, ion-textarea {
    font-size: 1.3rem;
}
.item-select{
    padding-top: 10px;
}
.slide-img-profil{
    width: 100px;
}
.img-circle{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.slide-list{
    .item-inner {
        font-size: 1.6rem;
    }
    .icon{
        margin: 0px 10px;
    }
    margin: 0px 10px;
}
.icon-back {
    font-size: 2.8rem;
    font-weight: 500;
    position: fixed;
    top: 12px;
    left: 20px;
}
.justify-center{
    text-align: justify;
    -moz-text-align-last: center;
    text-align-last: center;
}
.item-md {
    font-size: 1.3rem !important;
}

.status-circle {
    border-radius: 50%;
    color: #fff;
    width: 50px;
    height: 50px;
    padding: auto;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
}
.inner-circle{
    padding: 10px;
    border-radius: 50%;
}
.swiper-slide img {
    max-height: 200px;
}
.header-action{
    font-size: 2.5rem;
}
.toolbar-md {
    min-height: 65px;
}
.header-close{
    margin-top: 12px;
}
.has-refresher > .scroll-content {
    border-top: none;
}
ion-spinner {
    display: block;
    margin: auto;
}
.tgl-agenda{
    margin-top: -7px;
    font-size: 1.5rem;
    .tanggal{
        border-bottom: 1px solid #fff;
        padding-bottom: 2px;
        margin: 0px 10px;
        font-size: 12px;
    }
    .bulan{
        padding-top: 3px;
        font-size: 12px;
    }
}
 ion-textarea {
    border: 1px solid #dedede;
}
.card-md h3{
    font-size: 2rem;
}
.foto-bordered{
    width: 100%;
    height: inherit;
    border: 1px dashed #5d2a8c;
    font-size: 40px;
    padding-top: 5%;
    text-align: center;
}
.icon-back {
    font-size: 2.8rem;
    font-weight: 500;
    position: fixed;
    top: 12px;
    left: 20px;
    z-index: 1000;
    color: #fff;
}
.status-circle {
    border-radius: 50%;
    color: #fff;
    width: 50px;
    height: 50px;
    padding: auto;
    text-align: center;
    padding-top: 12px;
    font-weight: bold;
    font-size: 20px;
}
.content-center{
    display: flex;
    justify-content: center;
}
.fixed-bottom{
    background-color: #5d2a8c;
}

