page-detail-toko {
    .ion-icon {
        display: inline-block;
        font-size: 1.6em;
    }
    .card-barang{
        border-radius: 10px;
        img{
            width: 100%;
        }
    }
}
