<ion-header>
  <ion-navbar color="primary">
    <ion-title>Detail Toko</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="bg-grey">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" spinnner="lines">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>
  <ng-container>
    <ion-card>
      <ion-card-content>
        <ion-row>
          <ion-col col-3>
            <ion-avatar>
              <div class="status-circle bg-grey">
                <ion-icon>
                  <h2>{{ helper.hurufPertama( pejasa.nama_toko ) }}</h2>
                </ion-icon>
              </div>
            </ion-avatar>
          </ion-col>
          <ion-col col-7>
            <h3>{{ pejasa.nama_toko }}</h3>
            <p style="font-weight: 300">{{ pejasa.member?.nama }}</p>
          </ion-col>
          <ion-col col-2 class="justify-center"
            (click)="tanya(pejasa.member?.id_member, pejasa.member?.nama, pejasa.member?.foto)">
            <ion-icon name="chatboxes"></ion-icon>
            <p>Chat</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ng-container *ngFor="let data of jasa">
        <ion-col col-6>
          <ion-card class="card-barang" (click)="order(data.id_jasa)">
            <img src="{{ apiUrl }}/public/images/jasa/gambar/{{ data.gambar }}" alt="">
            <ion-card-content><ion-note style="font-size: 10px;">
                <ion-icon name="ios-call"> {{ data.member?.telepon }}</ion-icon>
                <br>
                <ion-icon name="ios-map-outline"> {{ data.member?.alamat }}</ion-icon>
              </ion-note>
              <h2><b>{{ data.nama_jasa }}</b></h2>
              <p>
                <ng-container *ngFor="let item of [1,2,3,4,5]">
                  <ng-container *ngIf="data.rating >= item ">
                    <ion-icon name="star" color="primary"></ion-icon>
                  </ng-container>
                  <ng-container *ngIf="data.rating == (item + 0.5)">
                    <ion-icon name="star-half" color="primary"></ion-icon>
                  </ng-container>
                  <ng-container *ngIf="data.rating <  (item - 0.5)">
                    <ion-icon name="star-outline" color="primary"></ion-icon>
                  </ng-container>
                </ng-container>
                / {{ data.raiter}}
              </p>
              <span class="clr-secondary">Rp {{ helper.ribuan(data.harga_jasa) }}</span>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ng-container>
    </ion-row>
  </ng-container>

</ion-content>