<ion-header>

  <ion-navbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-title style="margin-top: 7px">pengaturan</ion-title>
        </ion-col>
        <ion-col col-2 >
          <button ion-button small color="secondary" float-end (click)="simpan()">Simpan</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item>
      <ion-label floating >apiUrl</ion-label>
      <ion-input type="text" [(ngModel)]="setting.apiUrl"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Notifikasi Internal</ion-label>
      <ion-toggle [(ngModel)]="setting.notifikasiInternal"></ion-toggle>
    </ion-item>
  </ion-list>

</ion-content>
