<ion-header>

  <ion-navbar color="primary">
    <ion-title>Ulasan {{ nama_barang }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card  *ngFor="let item of ulasanList">
    <ion-card-header class="padding: 10px 16px">
      <ion-icon name="ios-person" class="avatar-border"></ion-icon> {{ item.member.nama }}
    </ion-card-header>
    <hr>
    <ion-card-content>
      <p>
        <ng-container *ngFor="let data of arrRaiting">
          <ng-container *ngIf="item.raiting >= data">
              <ion-icon name="star" color="primary"></ion-icon>
          </ng-container>
          <ng-container *ngIf="item.raiting < data">
              <ion-icon name="star-outline" color="primary"></ion-icon>
          </ng-container>
        </ng-container>
      </p>
      <p>
        {{ item.komentar }}
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
