page-ulasan {
    .card-header-md {
        font-size: 1.6rem;
        color: #8b8b8b;
        padding: 10px 16px;
    }
    .avatar-border{
        background-color: #ddd;
        padding: 2px 6px;
        border-radius: 50%;
    }
}
