<ion-header>

  <ion-navbar color="primary">
    <ion-title>Penjualan</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" spinnner="lines">
    <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
  </ion-refresher>
  <ng-container *ngIf="loading">
    <ion-spinner name="circles"></ion-spinner>
  </ng-container>

  <ng-container *ngIf="!loading">
    <ion-card>
      <ion-card-header>
        Booking oleh <b>{{ transaksi.member?.nama }}</b>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item style="border-bottom: none">
            <ion-avatar item-start>
              <img src="{{ apiUrl }}/public/images/jasa/gambar/{{ transaksi.jasa?.gambar }}" alt=""
                (click)="order(transaksi.jasa?.id_jasa)">
            </ion-avatar>
            {{ transaksi.jasa?.nama_jasa }}
            <br>
            <ion-note>{{ transaksi.kategori_jasa?.nama_kategori_jasa }}</ion-note>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Status Booking
      </ion-card-header>
      <ion-card-content>
        <div class="">
          <ul class="timeline">
            <li>
              <img src="{{ apiUrl }}/public/images/jasa/gambar/{{ transaksi.jasa?.gambar }}" alt=""
                class="timeline-thumb">
              <div class="timeline-item">
                <h4>Proses</h4>
                <p style="text-transform: capitalize">"{{ transaksi.member?.nama }} booking
                  {{ transaksi.jasa?.nama_jasa }} "</p>
                <div class="timeline-stats">
                  <ion-icon name="ios-clock"></ion-icon> {{ helper.bulanTanggal(transaksi.tanggal_transaksi) }}
                </div>
              </div>
            </li>
            <li *ngIf="transaksi.status == 'proses' || transaksi.status == 'diterima' || transaksi.status == 'selesai'">
              <div class="timeline-thumb bg-color-blue timeline-icon">
                <ion-icon name="ios-thumbs-up-outline"></ion-icon>
              </div>
              <div class="timeline-item">
                <h4>Diterima</h4>
                <ng-container *ngIf="!transaksi.tanggal_diterima">
                  <ion-textarea [(ngModel)]="pesan.pesan_diterima" placeholder="Masukkan pesan diterima"></ion-textarea>
                  <button ion-button small color="primary" (click)="kirim('diterima')">Diterima</button>
                </ng-container>
                <ng-container *ngIf="transaksi.tanggal_diterima">
                  <p style="text-transform: capitalize">"{{ transaksi.pesan_diterima }}"</p>
                  <div class="timeline-stats">
                    <ion-icon name="ios-clock"></ion-icon> {{ helper.bulanTanggal(transaksi.tanggal_diterima) }}
                  </div>
                </ng-container>
              </div>
            </li>
            <li *ngIf="transaksi.status == 'proses' || transaksi.status == 'ditolak'">
              <div class="timeline-thumb bg-color-red timeline-icon">
                <ion-icon name="md-close"></ion-icon>
              </div>
              <div class="timeline-item">
                <h4>Ditolak</h4>
                <ng-container *ngIf="!transaksi.tanggal_ditolak">
                  <ion-textarea [(ngModel)]="pesan.pesan_ditolak" placeholder="Masukkan pesan ditolak"></ion-textarea>
                  <button ion-button small color="danger" (click)="kirim('ditolak')">Ditolak</button>
                </ng-container>
                <ng-container *ngIf="transaksi.tanggal_ditolak">
                  <p style="text-transform: capitalize">"{{ transaksi.pesan_ditolak }}"</p>
                  <div class="timeline-stats">
                    <ion-icon name="ios-clock"></ion-icon> {{ helper.bulanTanggal(transaksi.tanggal_ditolak) }}
                  </div>
                </ng-container>
              </div>
            </li>
            <li *ngIf="transaksi.status == 'diterima' || transaksi.status == 'selesai'">
              <div class="timeline-thumb bg-primary timeline-icon">
                <ion-icon name="md-checkmark"></ion-icon>
              </div>
              <div class="timeline-item">
                <h4>Selesai</h4>
                <ng-container *ngIf="!transaksi.tanggal_selesai">
                  <ion-textarea [(ngModel)]="pesan.pesan_selesai" placeholder="Masukkan pesan selesai"></ion-textarea>
                  <button ion-button small color="primary" (click)="kirim('selesai')">Selesai</button>
                </ng-container>
                <ng-container *ngIf="transaksi.tanggal_selesai">
                  <p style="text-transform: capitalize">"{{ transaksi.pesan_selesai }}"</p>
                  <div class="timeline-stats">
                    <ion-icon name="ios-clock"></ion-icon> {{ helper.bulanTanggal(transaksi.tanggal_selesai) }}
                  </div>
                </ng-container>
              </div>
            </li>
          </ul>
        </div>
      </ion-card-content>
    </ion-card>
  </ng-container>






</ion-content>