<ion-header>
  <ion-navbar color="primary">
    <ion-title>

      <ion-grid>
        <ion-row>
          <ion-col col-10>
            <div *ngIf="!open">
              Jasa
            </div>
            <div *ngIf="open">
              <ion-searchbar placeholder="cari nama jasa" [(ngModel)]="cari" [showCancelButton]="shouldShowCancel"
                (search)="searchByKeyword()" (ionClear)="onCancelSearch()">
              </ion-searchbar>
            </div>
          </ion-col>
          <ion-col col-2>
            <div float-right>
              <ion-icon *ngIf="!open" (click)="showSearch()" name="md-search" class="header-action"></ion-icon>
              <ion-icon *ngIf="open" (click)="showSearch()" name="md-close" class="header-action header-close">
              </ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ng-container *ngIf="!id_pejasa">
    <br><br><br>
    <img src="assets/imgs/empty_data.png" class="img-center" alt="">
    <br><br>
    <button ion-button class="img-center" (click)="bukaJasa()" outline color="primary">Buka Usaha Jasa</button>
  </ng-container>

  <ng-container *ngIf="id_pejasa">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" spinnner="lines">
      <ion-refresher-content refreshingSpinner="bubbles"></ion-refresher-content>
    </ion-refresher>

    <ion-card class="bg-danger" *ngIf="status_pejasa == '0'">
      <ion-card-content>
        <ion-icon name="alert"></ion-icon>
        Usahamu belum diverifikasi !
      </ion-card-content>
    </ion-card>

    <ion-list *ngFor="let item of dataList">

      <ion-item-sliding>
        <ion-item>
          <ion-avatar item-start>
            <img src="{{ apiUrl }}/public/images/jasa/gambar/{{ item.gambar }}" alt="">
          </ion-avatar>
          {{ item.nama_jasa }}
          <p>
            {{ item.sub_kategori_jasa?.nama_sub_kategori_jasa }} 
            <ion-badge *ngIf="item.status == '0'" color="secondary">menunggu publikasi</ion-badge>
          </p>
        </ion-item>
        <ion-item-options side="left">
          <button ion-button color="danger" (click)="delete(item.id_jasa)">
            <ion-icon name="trash"></ion-icon>
          </button>
          <button ion-button color="warning" (click)="edit(item.id_jasa)">
            <ion-icon name="create"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>

    </ion-list>

    <ion-fab *ngIf="status_pejasa != '0'">
      <button ion-fab color="primary" (click)="tambah()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>

    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>

</ion-content>