<ion-header>

</ion-header>


<ion-content class="bg-gradient" padding>
  <ion-icon (click)="back()" class="icon-back" name="md-arrow-back"></ion-icon>
  <ion-list>
    <img src="assets/imgs/logo.png" style="width: 50px" class="img-center" alt="">
    <h5 class="fonts-tyle clr-white" text-center>Daftar Member</h5>

    <ion-row>
      <ion-col col-4>
      </ion-col>
      <ion-col col-4>
        <div *ngIf="!member.foto" class="foto-bordered" (click)="ambilGambar()">
          <p>
            <ion-icon style="font-size: 20px" name="images" color="white"></ion-icon>
          </p>
          <p text-center style="font-size:12px; margin-top: -15px; color: #fff">Foto</p>
        </div>
        <img *ngIf="member.foto" [src]="member.foto" alt="" (click)="ambilGambar()">
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>

    <ion-item>
      <ion-label floating>Nama</ion-label>
      <ion-input type="text" [(ngModel)]="member.nama"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Email</ion-label>
      <ion-input type="email" [(ngModel)]="member.email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="member.gender">
        <ion-option value="L">Laki-laki</ion-option>
        <ion-option value="P">Perempuan</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Alamat</ion-label>
      <ion-input type="text" [(ngModel)]="member.alamat"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Tempat Lahir</ion-label>
      <ion-input type="text" [(ngModel)]="member.tempat_lahir"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Tanggal Lahir</ion-label>
      <ion-input type="text" (click)="ambilTanggal()" [(ngModel)]="member.tanggal_lahir" disabled="true">{{member.tanggal_lahir}</ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating >Telepon</ion-label>
        <ion-input type="tel"[(ngModel)]="member.telepon"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating >Password</ion-label>
        <ion-input type="password"[(ngModel)]="member.password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating >Password Konfirmasi</ion-label>
        <ion-input type="password"[(ngModel)]="member.password_konfirmasi"></ion-input>
      </ion-item>

  </ion-list>

  <ion-item>
    <ion-label>Saya mengisi data dengan benar</ion-label>
    <ion-checkbox [(ngModel)]="member.accept" checked="isChecked" ></ion-checkbox>
  </ion-item>

  <button ion-button [disabled]="!member.accept" round full color="secondary" (click)="daftar()" >Daftar</button>

</ion-content>